body {
  font-family: Helvetica;
  color: #333;
}

.wrapper {
  margin: 0 auto;
  width: 700px;
}

.board {
  margin: 0 auto;
  width: 545px;
  text-align: center;
  overflow: auto;
}

.populate-options {
  margin: 18px 0;
  text-align: center;
}

button {
  padding: 4px 8px;
  background-color: #E4E95A;
  border: none;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: #C8CE28;
}

.row + .row {
  margin-top: 6px;
}

.square {
  display: inline-block;
  background-color: #E4EEEE;
  color: #fff;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  font-size: 34px;
  line-height: 3em;
}

.square + .square {
  margin-left: 3px;
}

.square:hover {
  background-color: #C1D8D8;
}

.selected {
  background-color: salmon;
}

.is-new:before {
  content: 'NEW';
  color: red;
}