body {
  font-family: Montserrat, helvetica, sans-serif;
  color: #333;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 700px;
}

.header {
  text-align: center;
}

.board {
  margin: 0 auto;
  width: 545px;
  text-align: center;
  overflow: auto;
}

.instructions {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.btn {
  display: inline-block;
  padding: 8px 14px;
  background-color: #E4E95A;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

.btn:hover {
  cursor: pointer;
  background-color: #C8CE28;
}

.row + .row {
  margin-top: 6px;
}

.square {
  cursor: pointer;
  display: inline-block;
  background-color: #C1D8D8;
  color: #fff;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  font-size: 34px;
  line-height: 3em;
}

.square + .square {
  margin-left: 3px;
}

.square:hover {
  background-color: #8BAFAF;
}

.selected {
  background-color: salmon;
}

.is-new {
  color: red;
}

.is-new:after {
  background: red;
  display: block;
  width: 60px;
  padding: 7px 10px;
  margin: auto;
  font-size: 14px;
  content: 'NEW';
  color: white;
}

.numbers {
  text-align: center;
  list-style: none;
  font-size: 24px;
  padding: 0;
}

.numbers li {
  margin-bottom: 30px;
}

.numbers li:nth-child(1) {
  font-size: 90px;
}

.numbers li:nth-child(2) {
  font-size: 75px;
}

.numbers li:nth-child(3) {
  font-size: 60px;
}
